* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

 a:hover {
        text-decoration: none;
    }
 p  {
        font-family: 'El Messiri', sans-serif;
    }

 h5{
        font-family: 'Scheherazade', serif;
    }
/* my framework  */
.main-color{
    background-color: #702283
}
.second-color {
    background-color: #962071
}
.color-font1 {
  color: #702283
}

 .color-font2 {
    color: #962071
}

/* my framework  */

/* start nav bar */
.notfication .dropdown-item:focus, .notfication .dropdown-item:hover ,.language .dropdown-item:focus, .language .dropdown-item:hover ,
.profile .dropdown-item:focus, .profile .dropdown-item:hover   {
    background-color: #702283 !important;
    
}
/* .notfication-container{
    margin-left: 180px
} */
.hide-max{
    display: none;
}



.notfication{
    max-width: 400px;
    overflow: hidden;
    font-size: 12px;
}

.fixed-nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    z-index: 55;
}

.fixed-nav a {
    color: #fff !important;
}
.left-side a{
    font-size: 20px;

}

.profile-face img{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    object-fit: cover;
}
.nav-item {
    position: relative;
}

.nav-item span{
    position: absolute;
    background-color:#fff;
    transition: .4s;
}
.border-1{
    top: 5px;
    left: 0;
    height: 1px;
    width: 0;
}
    .border-2{
    top: 5px;
    right: 0;
    width: 1px;
    height: 0;
    }
.border-3 {
    bottom: 5px;
    right: 0;
    height: 1px;
    width: 0;

}
.border-4 {
    top: 5px;
    left: 0px;
    width: 1px;
    height: 0;
}
.nav-item:hover .border-1 {
     width: 100%;
}
.nav-item:hover .border-2 {
     height: 77%;
}
.nav-item:hover .border-3 {
    width: 100%;
}
.nav-item:hover .border-4 {
     height: 77%;
}




/* end nav bar */

/* start home */
.home-container{
    margin-top:57px !important;
    padding-top:40px;
}
.home-container .fc-button-group button , .fc-basicWeek-button , .fc-today-button{
    background-color: #702283 !important;
    padding: 4px 8px 5px;
    color:#fff;
    box-shadow: none
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.home-container #calendar {
    max-width: 1000px;
    margin: 0px auto 30px auto;
    background-color: #eee;
    box-shadow: 2px 2px 3px #962071,
                 -2px -2px 3px #962071;
}
.home-container .fc-content {
    background-color: #702283;
    color: #fff;
    text-align: center;
}
.pendind-table .foot-table  , .pendind-table .head-table{
    color: #fff;
}
.home-container .fc-unthemed td {
    border-color: #962071;
}
.pendind-table{
    overflow: auto;
    padding-bottom: 50px!important;
}



/* end home */


/* start footer */

.last-section{
    color: #fff;
}
.social i{
    width: 33px;
    height: 33px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.social i:hover{
    background-color: #fff;
    color: #962071;
}
.church-logo:hover{
    transform:scale(1.2) ;
    -webkit-transform:scale(1.2) ;
    -moz-transform:scale(1.2) ;
    -ms-transform:scale(1.2) ;
    -o-transform:scale(1.2) ;
}

/* start booking page */
.form-input{
    border-bottom: 1px solid #eee;
}

.book{
    background-image: url(../images/church-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #962071;
} */
.heading{
    color:#fff;
    background-color: #962071;
    width:20%;
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.heading hr{
    border-bottom: 1px solid #333;
    width:4%
}

.heading:hover hr {
    width: 6%
}
.bookForm{
    border: 1px solid #fff;
    box-shadow: 2px 2px 3px #333;
    background-color: #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.bookForm .btn{
    color: #333;
    margin-right: 37.5%
}
.bookForm .btn:hover {
    color: #702283;
    border: 1px solid #702283;
    background-color: #fff;
}
.bookForm input , .bookform select ,.bookForm textarea ,.select2-container--default .select2-selection--single ,.select2-container--default .select2-selection--multiple {
    background-color: #eee;
    border: 1px solid #962071;
}
.bookform select ,.select2-container--default .select2-selection--single {
    height: 40px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #962071;
    color: white;
}



.bookForm input:focus , .bookForm select:focus , .bookForm textarea:focus , .select2-container--default .select2-selection--single {
    border-color: #702283;
    box-shadow: none;
}

.radi{
    width: 5%!important;
}
.radi-input{
    width: 70% !important;
    /* display: none !important; */
    opacity: 0;
}
.radi-input2{
    opacity: 0;
}



    /* end booking page */

    /*start moa3idi page */

    /*start accepted moa3idi page */
    .accepted-mwaid h2{
    background-color: green;
    width: 30%;
    height: 50px;
    color: #fff;
    border-radius:10px    ;
    -webkit-border-radius:10px    ;
    -moz-border-radius:10px    ;
    -ms-border-radius:10px    ;
    -o-border-radius:10px    ;
}
     .accepted-mwaid hr {
         border-bottom: 3px solid green;
         width: 4%;
     }

     .accepted-mwaid:hover hr {
         width: 6%;
     }
      .accepted-mwaid-container {
          background: linear-gradient(45deg, #c0c0c0, #00ff80);
          min-height: 700px
      }

    /*end accepted moa3idi page */

     /*start refused moa3idi page */
        .refused-mwaid h2 {
            background-color: #800000;
            width: 30%;
            height: 50px;
            color: #fff;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .refused-mwaid hr {
            border-bottom: 3px solid #800000;
            width: 4%;
        }

        .refused-mwaid:hover hr {
            width: 6%;
        }

        .refused-mwaid-container {
            background: linear-gradient(45deg, #800000, #ffffff);
            min-height: 700px
        }

        /*refused accepted moa3idi page */

    .wait-mwaid-container
    {
        background:linear-gradient(45deg, #c0c0c0, #ff8000);
        min-height: 700px
    }
    .wait-mwaid h2{
    background-color: orange;
    width: 30%;
    color: #fff;
    border-radius:10px     ;
    -webkit-border-radius:10px     ;
    -moz-border-radius:10px     ;
    -ms-border-radius:10px     ;
    -o-border-radius:10px     ;
}
    .wait-mwaid hr{
        border-bottom: 3px solid #fff;
        width: 4%;
    }
    .wait-mwaid:hover hr {
        width: 6%;
    }

    .card-conainer , .s-card {
        border: 1px solid #eee;    
        height: 100%;
        border-radius: 10px;
        background-color: #962071;
        box-shadow: 2px 2px #ccc;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        position: relative;
    }
    .card-conainer img:hover  {
     filter:saturate(0)   ;
     -webkit-filter:saturate(0)   ;
}

.card-conainer img , .s-card img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
      position: absolute;
      margin: auto;
      top: -78px;
      width: 50%;
      height: 150px;
      right: 25%;
      box-shadow: 1px 3px 6px  #eee
}
.card-content i{
    font-size: 14px;
    color : #fff
}
.card-content h5{
    font-weight: bold;
    font-size: 20px;
    margin-top: 7px;
    color: rgb(255, 227, 227);
    line-height: 5px;
}
.card-content p{
    padding-right: 10px;
    font-size: 14px;
    color: rgb(156, 149, 149);
}
.card-content .btn{
    color:#fff;
    background-color: #840f0f;
    margin-right:30%;
    width:40%;
    position: relative;
}
.card-content .btn:after{
      position: absolute;
      content: "";
      top: 15px;
      right: -75px;
      width: 68px;
      height: 2px;
      background-color: #fff;
}
.card-content .btn:before {
    position: absolute;
    content: "";
    top: 15px;
    left: -75px;
    width: 68px;
    height: 2px;
    background-color: #fff;
}

.card-content .btn:hover , .card-content .btn:hover i{
    color: #962071;
    background-color: #fff;
}
.card-content .btn.focus , .card-content .btn:focus {
    outline: 0;
    box-shadow: none;
}
.alert{
    color: #800000;
    background-color: #fff;
    font-size: 20px;
    border-bottom :3px solid #800000;
    width: 170px;
    height: 50px;
    z-index: 44444444444;
    position: fixed;
    top:140;
    right:-194px;
}
/*end moa3idi page */





/* sign in page */
#erorrmessage {
    display: inline-block;
    position: absolute;
    left: 42px;
    top: 35px;
    background: #fff;
    padding: .8em;
    z-index: 20;
    color: darkred;
    font-size: 13px;
    border-radius: 0.25em;
    padding: 1px 10px;
    margin: 5px;
    border: 1px solid #eee;
    display: none;
}
.pass {
    position: relative;
}
.hide-password{
    position: absolute;
    top: 10px;
    left: 30px
}
.sign{
    background-image: url(../images/church-3.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%; 
}
.sign-in {
    width: 30%;
    border: 1px solid #962071;
    margin-top: 10%;
    background-color: #d7cfda;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px -1px 3px #702283
}
    .sign-in i{
        color: #702283
    }
    .sign-in input{
    width: 90%;
    }
    .sign-in .form-control:focus {
        background-color: #fff;
        border-color: #702283;
        outline: 0;
        box-shadow: none;
    }
    .sign-in .btn {
    color: #fff
    }
    .sign-in .btn:hover{
        color: #702283;
        background-color: #eee;
        border: 1px solid #702283 ;
    }

/* end sign in page */

/*start elkhedma page */
 .amin-khedma{
     background-color: #eee;
 }
 .s-card{
     background-color: #fff;
     border-radius: 10px ;
     -webkit-border-radius: 10px ;
     -moz-border-radius: 10px ;
     -ms-border-radius: 10px ;
     -o-border-radius: 10px ;
}

.s-card h5{
    color: #341f97
}

/*end  elkhedma page */


/* sign up page */

.signup{
    background-color: #eee;
}
.signup form{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px #fff,
               -2px -2px 3px #fff;
}
.head-signup{
    color: #fff;
}

.signup .table-hover tbody tr:hover {
    background-color: rgba(112, 34, 131 , .5);
}
.signup i{
    color: #702283
}
.signup input:focus , .signup textarea:focus{
    border-color: #702283;
    box-shadow: none;
}
.head-signup:hover th {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.mobi {
    position: relative;
}
.edit {
    position: absolute;
    background-color: #ccc;
    color:#333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px 2px 3px;
    padding: 3px 5px;
    top: -8px;
    left: 23px;
    cursor: auto;
   display: none;
}
.mobi:hover .edit{
    display: block;
}
.signup-table{
    overflow: auto;
}
.big-button {
    position: relative;
    background-color: #ccffcc;
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    padding: 20px;
    height: 85px;
    width: 30%;
    margin-right: 35%;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-border-radius: 40px 100px 100px 100px;
    -moz-border-radius: 40px 100px 100px 100px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 15px 0px #702283, 0px 10px 25px rgba(0, 0, 0, .5);
    border-color: #962071;
    border-width: 10px;
    border-radius: 40px 100px 100px 100px;
    padding: 20px;
    -ms-border-radius: 40px 100px 100px 100px;
    -o-border-radius: 40px 100px 100px 100px;
}
.big-button:hover{
    color: #702283;
    border: 1px solid #702283;
    background-color: #fff;
}










/* media quey */

@media screen and (max-width: 996px) {
    .navbar-collapse {
       text-align:left; 
       background-color: #702283;
       margin-top: 15px;  
    }
    .nav-item span {
        display: none;
    }
    .nav-item a {
        margin-left: 10px;
    }
    .hide-min{
        display: none;
    }
    .hide-max {
        display: block;
    }
}


@media screen and (max-width: 920px) {
    .sign-in {
        width: 90%;
        margin-top: 18%;
    }
      .card-content .btn {
          margin-bottom:0!important
      }
      .signup .big-button {
             width: 80%;
             margin-right: 10%;
      }
}

@media screen and (max-width: 1000px) {
    .heading {
        width: 64%;
    }
    .bookForm .col-md-6 {
       margin-top: 10px!important;
    }
   .bookform select {
        font-size: 14px;
        
    }
    .wait-mwaid h2 {
        width: 64%;
        font-size: 30px;
    }
    .accepted-mwaid h2 {
        width: 64%;
        font-size: 25px;
    }
     .refused-mwaid h2 {
         width: 64%;
         font-size: 25px;
     }
}





